@font-face
{
	font-family: Apercu;
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/apercu/Apercu-Light.eot);
	src: url(../fonts/apercu/Apercu-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/apercu/Apercu-Light.woff2) format("woff2"),url(../fonts/apercu/Apercu-Light.woff) format("woff"),url(../fonts/apercu/Apercu-Light.ttf) format("truetype"),url(../fonts/apercu/Apercu-Light.svg#Apercu-Light) format("svg");
}
@font-face
{
	font-family: Apercu;
	font-style: italic;
	font-weight: 300;
	src: url(../fonts/apercu/Apercu-LightItalic.eot);
	src: url(../fonts/apercu/Apercu-LightItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/apercu/Apercu-LightItalic.woff2) format("woff2"),url(../fonts/apercu/Apercu-LightItalic.woff) format("woff"),url(../fonts/apercu/Apercu-LightItalic.ttf) format("truetype"),url(../fonts/apercu/Apercu-LightItalic.svg#Apercu-LightItalic) format("svg");
}
@font-face
{
	font-family: Apercu;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/apercu/Apercu-Regular.eot);
	src: url(../fonts/apercu/Apercu-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/apercu/Apercu-Regular.woff2) format("woff2"),url(../fonts/apercu/Apercu-Regular.woff) format("woff"),url(../fonts/apercu/Apercu-Regular.ttf) format("truetype"),url(../fonts/apercu/Apercu-Regular.svg#Apercu-Regular) format("svg");
}
@font-face
{
	font-family: Apercu;
	font-style: italic;
	font-weight: 400;
	src: url(../fonts/apercu/Apercu-Italic.eot);
	src: url(../fonts/apercu/Apercu-Italic.eot?#iefix) format("embedded-opentype"),url(../fonts/apercu/Apercu-Italic.woff2) format("woff2"),url(../fonts/apercu/Apercu-Italic.woff) format("woff"),url(../fonts/apercu/Apercu-Italic.ttf) format("truetype"),url(../fonts/apercu/Apercu-Italic.svg#Apercu-Italic) format("svg");
}
@font-face
{
	font-family: Apercu;
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/apercu/Apercu-Medium.eot);
	src: url(../fonts/apercu/Apercu-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/apercu/Apercu-Medium.woff2) format("woff2"),url(../fonts/apercu/Apercu-Medium.woff) format("woff"),url(../fonts/apercu/Apercu-Medium.ttf) format("truetype"),url(../fonts/apercu/Apercu-Medium.svg#Apercu-Medium) format("svg");
}
@font-face
{
	font-family: Apercu;
	font-style: italic;
	font-weight: 500;
	src: url(../fonts/apercu/Apercu-MediumItalic.eot);
	src: url(../fonts/apercu/Apercu-MediumItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/apercu/Apercu-MediumItalic.woff2) format("woff2"),url(../fonts/apercu/Apercu-MediumItalic.woff) format("woff"),url(../fonts/apercu/Apercu-MediumItalic.ttf) format("truetype"),url(../fonts/apercu/Apercu-MediumItalic.svg#Apercu-MediumItalic) format("svg");
}
@font-face
{
	font-family: Apercu;
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/apercu/Apercu-Bold.eot);
	src: url(../fonts/apercu/Apercu-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/apercu/Apercu-Bold.woff2) format("woff2"),url(../fonts/apercu/Apercu-Bold.woff) format("woff"),url(../fonts/apercu/Apercu-Bold.ttf) format("truetype"),url(../fonts/apercu/Apercu-Bold.svg#Apercu-Bold) format("svg");
}
@font-face
{
	font-family: Apercu;
	font-style: italic;
	font-weight: 700;
	src: url(../fonts/apercu/Apercu-BoldItalic.eot);
	src: url(../fonts/apercu/Apercu-BoldItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/apercu/Apercu-BoldItalic.woff2) format("woff2"),url(../fonts/apercu/Apercu-BoldItalic.woff) format("woff"),url(../fonts/apercu/Apercu-BoldItalic.ttf) format("truetype"),url(../fonts/apercu/Apercu-BoldItalic.svg#Apercu-BoldItalic) format("svg");
}
html
{
	box-sizing: border-box;
	webkit-box-sizing: border-box;
}
*,:after,:before
{
	box-sizing: inherit;
	webkit-box-sizing: inherit;
}
::-moz-selection
{
	background: #ffdc00;
}
::selection
{
	background: #ffdc00;
}
body,html
{
	background-color: #fff;
	color: #444452;
	font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
	line-height: 1.5;
	margin: 0;
	moz-osx-font-smoothing: grayscale;
	padding: 0;
	webkit-font-smoothing: antialiased;
	width: 100%;
}
body.night,html.night
{
	background-color: #171c28;
	color: #afafbf;
}
body.night ::-moz-selection,html.night ::-moz-selection
{
	background: #ffdc00;
	color: #36363c;
}
body.night ::selection,html.night ::selection
{
	background: #ffdc00;
	color: #36363c;
}
body.night .switch-wrapper .sun,html.night .switch-wrapper .sun
{
	background: url(../img/switch/sun-white.svg) no-repeat center;
	background-size: 100%;
}
body.night .switch-wrapper .moon,html.night .switch-wrapper .moon
{
	background: url(../img/switch/moon-white.svg) no-repeat center;
	background-size: 100%;
}
body.night .experience .job__time,body.night .footer__copyright,body.night .intro,body.night .skills .skillz__category__label,body.night .status,body.night a,body.night strong,html.night .experience .job__time,html.night .footer__copyright,html.night .intro,html.night .skills .skillz__category__label,html.night .status,html.night a,html.night strong
{
	color: #e7e7e7;
}
body.night .section__content .underline-link:after,html.night .section__content .underline-link:after
{
	background: #e7e7e7;
}
a
{
	color: inherit;
	font-weight: 700;
	text-decoration: none;
	transition: all .2s ease-in-out;
	webkit-transition: all .2s ease-in-out;
}
ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
svg
{
	fill: currentColor;
	height: 100%;
	width: 100%;
}
img
{
	max-width: 100%;
	vertical-align: middle;
}
strong
{
	color: #36363c;
	font-weight: 700;
}
.emoji
{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: text-top;
}
.section
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: center;
	ms-flex-pack: center;
	padding: 100px 170px;
	webkit-box-pack: center;
}
@media screen and (max-width:1280px)
{
	.section
	{
		padding: 100px;
	}
}
@media screen and (max-width:1024px)
{
	.section
	{
		padding: 50px;
	}
}
@media screen and (max-width:768px)
{
	.section
	{
		display: block;
	}
}
@media screen and (max-width:480px)
{
	.section
	{
		padding: 50px 35px;
	}
}
.section__title
{
	color: #007bff;
	flex-shrink: 0;
	font-weight: 700;
	letter-spacing: 2px;
	margin-right: 70px;
	ms-flex-negative: 0;
	text-align: right;
	text-transform: uppercase;
	width: 200px;
}
@media screen and (max-width:1024px)
{
	.section__title
	{
		margin-right: 50px;
	}
}
@media screen and (max-width:850px)
{
	.section__title
	{
		width: 150px;
	}
}
@media screen and (max-width:768px)
{
	.section__title
	{
		text-align: left;
		width: auto;
	}
}
.section__content
{
	font-size: 1rem;
	font-weight: 300;
	max-width: 650px;
	width: 100%;
}
@media screen and (max-width:768px)
{
	.section__content
	{
		padding-left: 50px;
		padding-top: 30px;
	}
}
@media screen and (max-width:480px)
{
	.section__content
	{
		padding-left: 30px;
	}
}
.section__content p
{
	margin-bottom: 25px;
	margin-top: 0;
}
.section__content .underline-link
{
	display: inline-block;
	position: relative;
}
.section__content .underline-link:after
{
	background: #36363c;
	content: '';
	height: 1px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 100%;
	transform: translateY(-5px);
	transition: height .3s,opacity .3s,transform .3s,-webkit-transform .3s;
	transition: height .3s,opacity .3s,transform .3s;
	transition: height .3s,opacity .3s,-webkit-transform .3s;
	webkit-transform: translateY(-5px);
	webkit-transition: height .3s,opacity .3s,-webkit-transform .3s;
	width: 100%;
}
.section__content .underline-link:focus:after,.section__content .underline-link:hover:after
{
	border-radius: 3px;
	height: 2px;
	opacity: 1;
	transform: translateY(-2px);
	webkit-transform: translateY(-2px);
}
.arrow-link
{
	background-color: transparent;
	display: inline-block;
	font-weight: 700;
	transition: all .2s ease-in-out;
	webkit-transition: all .2s ease-in-out;
	white-space: nowrap;
}
.arrow-link:after
{
	background: url(../img/arrow.png) no-repeat center;
	background-size: 100%;
	bottom: 2px;
	content: '';
	display: inline-block;
	height: 15px;
	margin-left: 15px;
	position: relative;
	transition: all .2s ease-in-out;
	vertical-align: middle;
	webkit-transition: all .2s ease-in-out;
	width: 15px;
}
.arrow-link:hover:after
{
	transform: translateX(7px);
	webkit-transform: translateX(7px);
}
.small
{
	display: inline-block;
	font-family: Inconsolata,monospace;
	font-size: .85rem;
	margin-top: 15px;
}
.small:after
{
	display: none;
}
#top-button
{
	background: 0 0;
	border: none;
	bottom: 25px;
	cursor: pointer;
	display: none;
	outline: 0;
	position: fixed;
	right: 10px;
	transition: all .2s ease-in-out;
	webkit-transition: all .2s ease-in-out;
	width: 40px;
}
@media screen and (max-width:1024px)
{
	#top-button
	{
		bottom: 20px;
		right: 7px;
		width: 35px;
	}
}
@media screen and (max-width:480px)
{
	#top-button
	{
		bottom: 15px;
		right: 3px;
	}
}
#top-button:focus,#top-button:hover
{
	transform: translateY(-10px);
	webkit-transform: translateY(-10px);
}
#top-button img
{
	width: 100%;
}
.waypoint
{
	opacity: 0;
	transform: translate3d(0,20px,0);
	transition: opacity .6s cubic-bezier(.694,0,.335,1),transform .6s cubic-bezier(.694,0,.335,1),-webkit-transform .6s cubic-bezier(.694,0,.335,1);
	transition: opacity .6s cubic-bezier(.694,0,.335,1),transform .6s cubic-bezier(.694,0,.335,1);
	transition: opacity .6s cubic-bezier(.694,0,.335,1),-webkit-transform .6s cubic-bezier(.694,0,.335,1);
	webkit-transform: translate3d(0,20px,0);
	webkit-transition: opacity .6s cubic-bezier(.694,0,.335,1),-webkit-transform .6s cubic-bezier(.694,0,.335,1);
}
.in-view
{
	opacity: 1;
	transform: translateZ(0);
	webkit-transform: translateZ(0);
}
.switch-wrapper
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: center;
	ms-flex-align: center;
	ms-flex-pack: center;
	position: absolute;
	right: 30px;
	top: 20px;
	webkit-box-align: center;
	webkit-box-pack: center;
}
@media screen and (max-width:480px)
{
	.switch-wrapper
	{
		right: 20px;
		top: 10px;
	}
}
.switch-wrapper .moon,.switch-wrapper .sun
{
	height: 17px;
	width: 17px;
}
.switch-wrapper .sun
{
	background: url(../img/switch/sun.svg) no-repeat center;
	background-size: 100%;
}
.switch-wrapper .moon
{
	background: url(../img/switch/moon.svg) no-repeat center;
	background-size: 100%;
}
.switch-wrapper .toggle-wrapper
{
	margin: 10px;
}
.switch-wrapper .toggle-wrapper #switch
{
	height: 0;
	position: absolute;
	visibility: hidden;
	width: 0;
}
.switch-wrapper .toggle-wrapper #switch:checked+label
{
	background: #bae67e;
}
.switch-wrapper .toggle-wrapper #switch:checked+label:after
{
	left: calc(100% - 3px);
	transform: translateX(-100%);
	webkit-transform: translateX(-100%);
}
.switch-wrapper .toggle-wrapper label
{
	background: grey;
	border-radius: 100px;
	cursor: pointer;
	display: block;
	height: 25px;
	position: relative;
	text-indent: -9999px;
	width: 45px;
}
.switch-wrapper .toggle-wrapper label:after
{
	background: #fff;
	border-radius: 100%;
	content: '';
	height: 19px;
	left: 3px;
	position: absolute;
	top: 3px;
	transition: all .2s ease-in-out;
	webkit-transition: all .2s ease-in-out;
	width: 19px;
}
.intro
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	flex-direction: column;
	height: 100vh;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 1440px;
	ms-flex-direction: column;
	ms-flex-pack: distribute;
	padding: 120px 100px;
	webkit-box-direction: normal;
	webkit-box-orient: vertical;
}
@media screen and (max-width:630px)
{
	.intro
	{
		padding: 120px 70px;
	}
}
@media screen and (max-width:550px)
{
	.intro
	{
		padding: 120px 50px;
	}
}
@media screen and (max-width:480px)
{
	.intro
	{
		padding: 70px 50px;
	}
}
.intro__hello,.intro__tagline
{
	font-size: 2.5rem;
}
@media screen and (max-width:1024px)
{
	.intro__hello,.intro__tagline
	{
		font-size: 2.25rem;
	}
}
@media screen and (max-width:768px)
{
	.intro__hello,.intro__tagline
	{
		font-size: 2rem;
	}
}
@media screen and (max-width:550px)
{
	.intro__hello,.intro__tagline
	{
		font-size: 1.75rem;
	}
}
@media screen and (max-width:360px)
{
	.intro__hello,.intro__tagline
	{
		font-size: 1.5rem;
	}
}
@media screen and (max-width:330px)
{
	.intro__hello,.intro__tagline
	{
		font-size: 1.4rem;
	}
}
.intro__hello .emoji,.intro__tagline .emoji
{
	height: 40px;
	width: 40px;
}
@media screen and (max-width:1024px)
{
	.intro__hello .emoji,.intro__tagline .emoji
	{
		height: 35px;
		width: 35px;
	}
}
@media screen and (max-width:768px)
{
	.intro__hello .emoji,.intro__tagline .emoji
	{
		height: 30px;
		width: 30px;
	}
}
@media screen and (max-width:360px)
{
	.intro__hello .emoji,.intro__tagline .emoji
	{
		height: 25px;
		width: 25px;
	}
}
.intro__hello
{
	font-weight: 300;
}
.intro__hello .wave-hand
{
	background-image: url(../img/emojis/wave.png);
	cursor: pointer;
	margin-left: 10px;
}
.intro__hello .wave-hand.animated
{
	animation-duration: 1s;
	animation-fill-mode: both;
	webkit-animation-duration: 1s;
	webkit-animation-fill-mode: both;
}
.intro__hello .wave-hand.wave
{
	animation-name: wave;
	webkit-animation-name: wave;
}
@-webkit-keyframes wave
{
	from
	{
		transform: none;
		webkit-transform: none;
	}
	15%
	{
		transform: translate3d(-20%,0,0) rotate3d(0,0,1,-10deg);
		webkit-transform: translate3d(-20%,0,0) rotate3d(0,0,1,-10deg);
	}
	30%
	{
		transform: translate3d(10%,0,0) rotate3d(0,0,1,7deg);
		webkit-transform: translate3d(10%,0,0) rotate3d(0,0,1,7deg);
	}
	45%
	{
		transform: translate3d(-15%,0,0) rotate3d(0,0,1,-10deg);
		webkit-transform: translate3d(-15%,0,0) rotate3d(0,0,1,-10deg);
	}
	60%
	{
		transform: translate3d(10%,0,0) rotate3d(0,0,1,5deg);
		webkit-transform: translate3d(10%,0,0) rotate3d(0,0,1,5deg);
	}
	75%
	{
		transform: translate3d(-5%,0,0) rotate3d(0,0,1,-2deg);
		webkit-transform: translate3d(-5%,0,0) rotate3d(0,0,1,-2deg);
	}
	to
	{
		transform: none;
		webkit-transform: none;
	}
}
@keyframes wave
{
	from
	{
		transform: none;
		webkit-transform: none;
	}
	15%
	{
		transform: translate3d(-20%,0,0) rotate3d(0,0,1,-10deg);
		webkit-transform: translate3d(-20%,0,0) rotate3d(0,0,1,-10deg);
	}
	30%
	{
		transform: translate3d(10%,0,0) rotate3d(0,0,1,7deg);
		webkit-transform: translate3d(10%,0,0) rotate3d(0,0,1,7deg);
	}
	45%
	{
		transform: translate3d(-15%,0,0) rotate3d(0,0,1,-10deg);
		webkit-transform: translate3d(-15%,0,0) rotate3d(0,0,1,-10deg);
	}
	60%
	{
		transform: translate3d(10%,0,0) rotate3d(0,0,1,5deg);
		webkit-transform: translate3d(10%,0,0) rotate3d(0,0,1,5deg);
	}
	75%
	{
		transform: translate3d(-5%,0,0) rotate3d(0,0,1,-2deg);
		webkit-transform: translate3d(-5%,0,0) rotate3d(0,0,1,-2deg);
	}
	to
	{
		transform: none;
		webkit-transform: none;
	}
}
.intro__tagline
{
	font-weight: 300;
	max-width: 700px;
}
.intro__tagline .name
{
	font-weight: 700;
}
.intro__tagline .technologist
{
	background-image: url(../img/emojis/technologist.png);
}
.intro__contact
{
	font-size: 1.25rem;
	font-weight: 400;
}
@media screen and (max-width:550px)
{
	.intro__contact
	{
		font-size: 1rem;
	}
}
.intro__contact .emoji.pointer
{
	background-image: url(../img/emojis/pointright.png);
	height: 30px;
	margin: 0 5px;
	vertical-align: text-bottom;
	width: 30px;
}
@media screen and (max-width:550px)
{
	.intro__contact .emoji.pointer
	{
		height: 25px;
		width: 25px;
	}
}
.intro__contact .highlight-link
{
	box-shadow: inset 0 -3px 0 #007bff;
	display: inline-block;
	font-weight: 400;
	padding: 2px 3px;
	text-decoration: none;
	transition: all .2s ease-in-out;
	webkit-box-shadow: inset 0 -3px 0 #007bff;
	webkit-transition: all .2s ease-in-out;
}
.intro__contact .highlight-link:hover
{
	box-shadow: inset 0 -33px 0 0 #007bff;
	color: #fff;
	webkit-box-shadow: inset 0 -33px 0 0 #007bff;
}
.skills .skillz
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: space-between;
	ms-flex-pack: justify;
	webkit-box-pack: justify;
}
@media screen and (max-width:630px)
{
	.skills .skillz
	{
		flex-wrap: wrap;
		ms-flex-wrap: wrap;
	}
}
@media screen and (max-width:630px)
{
	.skills .skillz__category
	{
		margin-bottom: 25px;
		margin-right: 5px;
		width: 47%;
	}
}
.skills .skillz__category__label
{
	color: #36363c;
	font-weight: 700;
	text-transform: uppercase;
}
.skills .skillz__category__item
{
	font-size: .9rem;
	margin: 3px 0;
}
.experience .jobs
{
	margin-bottom: 100px;
}
.experience .job
{
	margin-bottom: 25px;
}
.experience .job .time-place
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: space-between;
	ms-flex-pack: justify;
	webkit-box-pack: justify;
}
@media screen and (max-width:480px)
{
	.experience .job .time-place
	{
		display: block;
	}
}
.experience .job__company
{
	font-weight: 700;
}
.experience .job__time
{
	font-family: Inconsolata,monospace;
	font-size: .9rem;
}
@media screen and (max-width:480px)
{
	.experience .job__time
	{
		font-size: .8rem;
	}
}
.experience .arrow-link
{
	font-size: 1.25rem;
}
.experience .arrow-link:after
{
	height: 20px;
	width: 20px;
}
.status
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	font-size: 1.1rem;
	margin-top: 70px;
	ms-flex-align: center;
	webkit-box-align: center;
}
.status__light
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	height: 30px;
	justify-content: center;
	ms-flex-align: center;
	ms-flex-pack: center;
	webkit-box-align: center;
	webkit-box-pack: center;
	width: 30px;
}
.status__light__ring
{
	animation: pulsate 2s ease-out;
	animation-iteration-count: infinite;
	border: 3px solid #bae67e;
	border-radius: 30px;
	height: 25px;
	opacity: 0;
	position: absolute;
	webkit-animation: pulsate 2s ease-out;
	webkit-animation-iteration-count: infinite;
	width: 25px;
}
@-webkit-keyframes pulsate
{
	0%
	{
		opacity: 0;
		transform: scale(.1,.1);
		webkit-transform: scale(.1,.1);
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
		transform: scale(1.2,1.2);
		webkit-transform: scale(1.2,1.2);
	}
}
@keyframes pulsate
{
	0%
	{
		opacity: 0;
		transform: scale(.1,.1);
		webkit-transform: scale(.1,.1);
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
		transform: scale(1.2,1.2);
		webkit-transform: scale(1.2,1.2);
	}
}
.status__light__led
{
	background: #bae67e;
	border-radius: 100%;
	height: 13px;
	position: absolute;
	width: 13px;
}
.status__message
{
	margin-left: 15px;
}
.featured-projects a:after
{
	display: none;
}
.featured-projects .project
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	margin-bottom: 100px;
	margin-left: -5%;
	width: 125%;
}
@media screen and (max-width:1280px)
{
	.featured-projects .project
	{
		width: 115%;
	}
}
@media screen and (max-width:1024px)
{
	.featured-projects .project
	{
		width: 105%;
	}
}
@media screen and (max-width:768px)
{
	.featured-projects .project
	{
		display: block;
		margin-bottom: 70px;
		width: 100%;
	}
}
.featured-projects .project.screentime
{
	margin-bottom: 70px;
}
.featured-projects .project:last-of-type
{
	margin-bottom: 0;
}
.featured-projects .project__pic
{
	margin: 0;
	max-width: 700px;
	overflow: visible;
}
.featured-projects .project__pic a
{
	display: block;
}
.featured-projects .project__pic.phones a
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: space-between;
	ms-flex-pack: justify;
	webkit-box-pack: justify;
}
.featured-projects .project__pic.phones .phone
{
	margin: 0 -7%;
}
.featured-projects .project__pic.phones .phone:first-of-type
{
	margin-left: -5%;
}
.featured-projects .project__pic img
{
	max-width: 100%;
	vertical-align: bottom;
	width: 100%;
}
.featured-projects .project__caption
{
	flex-shrink: 0;
	margin-left: 30px;
	ms-flex-negative: 0;
	width: 125px;
}
@media screen and (max-width:768px)
{
	.featured-projects .project__caption
	{
		margin-left: 0;
		margin-top: 25px;
		width: 100%;
	}
}
.featured-projects .project__name
{
	margin-bottom: 10px;
}
.featured-projects .project__name a
{
	font-weight: 700;
}
.featured-projects .project p
{
	font-size: .85rem;
	line-height: 1.3;
}
.other-projects .project
{
	margin-bottom: 50px;
	max-width: 600px;
}
.other-projects .project__name
{
	margin-bottom: 10px;
}
.other-projects .project p
{
	font-size: .9rem;
	margin-bottom: 20px;
}
.other-projects .project__used__item
{
	background: 0 0;
	border: 1px solid #007bff;
	border-radius: 3px;
	color: #007bff;
	display: inline-block;
	font-family: Inconsolata,monospace;
	font-size: .75rem;
	font-weight: 700;
	margin: 3px 3px 3px 0;
	padding: 2px 7px;
}
.other-projects .project__used__item:first-of-type
{
	margin-left: 0;
}
.footer
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: space-between;
	ms-flex-align: center;
	ms-flex-pack: justify;
	padding: 50px 80px;
	webkit-box-align: center;
	webkit-box-pack: justify;
}
@media screen and (max-width:1024px)
{
	.footer
	{
		padding: 50px;
	}
}
@media screen and (max-width:630px)
{
	.footer
	{
		display: block;
	}
}
@media screen and (max-width:480px)
{
	.footer
	{
		padding: 50px 30px;
	}
}
.footer__copyright
{
	font-weight: 700;
	width: 200px;
}
@media screen and (max-width:630px)
{
	.footer__copyright
	{
		margin-bottom: 25px;
		text-align: center;
		width: auto;
	}
}
@media screen and (max-width:630px)
{
	.footer__copyright .bottom,.footer__copyright .top
	{
		display: inline-block;
	}
}
@media screen and (max-width:480px)
{
	.footer__copyright .bottom,.footer__copyright .top
	{
		display: block;
	}
}
.footer__copyright .emoji
{
	height: 20px;
	margin: 0 3px;
	vertical-align: text-bottom;
	width: 20px;
}
@media screen and (max-width:630px)
{
	.footer__links
	{
		display: flex;
		display: -ms-flexbox;
		display: -webkit-box;
		justify-content: center;
		ms-flex-pack: center;
		webkit-box-pack: center;
	}
}
.footer__links a
{
	color: #007bff!important;
	display: inline-block;
	font-weight: 700;
	margin: 0 15px;
	outline: 0;
	position: relative;
	text-transform: uppercase;
}
@media screen and (max-width:1024px)
{
	.footer__links a
	{
		margin: 0 10px;
	}
}
.footer__links a:after
{
	background: #007bff;
	content: '';
	height: 1px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 100%;
	transform: translateY(-5px);
	transition: height .3s,opacity .3s,transform .3s,-webkit-transform .3s;
	transition: height .3s,opacity .3s,transform .3s;
	transition: height .3s,opacity .3s,-webkit-transform .3s;
	webkit-transform: translateY(-5px);
	webkit-transition: height .3s,opacity .3s,-webkit-transform .3s;
	width: 100%;
}
@media screen and (max-width:850px)
{
	.footer__links a:after
	{
		display: none;
	}
}
.footer__links a:focus:after,.footer__links a:hover:after
{
	border-radius: 3px;
	height: 2px;
	opacity: 1;
	transform: translateY(0);
	webkit-transform: translateY(0);
}
.footer__links a .text
{
	display: inline;
	font-size: .9rem;
	letter-spacing: 1px;
}
@media screen and (max-width:850px)
{
	.footer__links a .text
	{
		display: none;
	}
}
.footer__links img
{
	display: none;
	width: 22px;
}
@media screen and (max-width:850px)
{
	.footer__links img
	{
		display: inline-block;
	}
}
.not-found
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	flex-direction: column;
	height: 100vh!important;
	justify-content: center;
	ms-flex-align: center;
	ms-flex-direction: column;
	ms-flex-pack: center;
	padding: 0 20px;
	text-align: center;
	webkit-box-align: center;
	webkit-box-direction: normal;
	webkit-box-orient: vertical;
	webkit-box-pack: center;
	width: 100%;
}
.not-found .name
{
	color: #007bff;
	font-size: 1.5rem;
	font-weight: 700;
	left: 30px;
	position: absolute;
	top: 25px;
}
@media screen and (max-width:480px)
{
	.not-found .name
	{
		font-size: 1.25rem;
		left: 25px;
		top: 20px;
	}
}
.not-found h1
{
	font-size: 4rem;
	margin: 10px 0;
}
.not-found h2
{
	font-size: 1.5rem;
}
@media screen and (max-width:480px)
{
	.not-found h2
	{
		font-size: 1.25rem;
	}
}
@media screen and (max-width:360px)
{
	.not-found h2
	{
		font-size: 1.1rem;
	}
}
.not-found a
{
	color: #007bff!important;
	display: inline-block;
	font-weight: 700;
	position: relative;
}
.not-found a:after
{
	background: #007bff;
	content: '';
	height: 3px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 100%;
	transform: translateY(-10px);
	transition: height .3s,opacity .3s,transform .3s,-webkit-transform .3s;
	transition: height .3s,opacity .3s,transform .3s;
	transition: height .3s,opacity .3s,-webkit-transform .3s;
	webkit-transform: translateY(-10px);
	webkit-transition: height .3s,opacity .3s,-webkit-transform .3s;
	width: 100%;
}
.not-found a:focus:after,.not-found a:hover:after
{
	height: 3px;
	opacity: 1;
	transform: translateY(-5px);
	webkit-transform: translateY(-5px);
}